.top{
	position: absolute;
	top: 0.5%;  
	left: 0; 
	right: 0;
	margin: 5px 5px;
	height: 20px;
	border:1px dashed green;
	text-align: center;
	background:rgba(0, 255, 0,0.25);
}

.left_top{
	position: absolute;
	top: 20px; 
	left: 0;
	margin: 5px 5px;
	width:20%;
	height: 20%;
	border:1px dashed green;
	text-align: center;
	background:rgba(0, 255, 0,0.0);
}

.center_top{
	position: absolute;	
	top: 20px; 
	left: 0; 
	right: 0;
	width:60%;
	height: 20%;
	margin: 5px auto;
	border:1px dashed green;
	text-align: center;
	background:rgba(0, 255, 0,0.0);
	overflow: hidden;
}

.right_top{
	position: absolute;
	top: 20px; 
	right: 0;
	margin: 5px 5px;
	width:20%;
	height: 30%;
	border:1px dashed green;
	text-align: center;
	background:rgba(0, 255, 0,0.25);
}

.left{
	position: absolute; 
	top: 20%;
	left: 0;
	margin: 5px 5px;
	width: 18%;
	height: 40%;
	border:1px dashed green;
	text-align: center;
	background:rgba(0, 255, 0,0.0);
}

.center{
	position: absolute;	
	top: 10%;
	left: 0%; 
	right: 0%; 
	bottom: 5%;
	margin: auto;
	width:60%;
	border:1px dashed green;
	text-align: center;
	background:rgba(0, 255, 0,0.0);
	overflow: hidden;
}

.right{
	position: absolute;
	top: 10%;
	right: 0;
	bottom: 5%;
	margin: 5px 5px;
	width:25%;
	border:1px dashed green;
	text-align: center;
	background:rgba(0, 255, 0,0.0);
	overflow: hidden;
}

.bottom{
	position: absolute;	
	left: 25%; 
	right: 25%; 
	bottom: 20px;
	margin: auto;
	width:50%;
	border:1px dashed green;
	text-align: center;
	background:rgba(255, 255, 255,0.0);
	overflow: hidden;
}

.leftbottom{
	position: absolute;
	top:60%;
	left: 0%;
	bottom: 5%;
	margin: 5px 5px;
	width:22%;
	border:1px dashed green;
	text-align: center;
	overflow: hidden;
}

.rightbottom{
	position: absolute;
	top:60%;
	right: 5px;
	bottom: 5%;
	margin: 5px 5px;
	width:22%;
	border:1px dashed green;
	text-align: center;
	background:rgba(0, 255, 0,0.0);
	overflow: hidden;
}

.textbox{
	width: 98%;
	height: 100%;
	margin: 0 0 ;
	text-align: left;
	font-size: small;
	direction: ltr;
	resize: none;
	white-space: pre-line;/*去掉在html的中手动敲的的空格*/
	background-color: rgba(255, 255, 255, 0.5);
}
